@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
  font-family: Roboto, Arial, sans-serif;
}

p{
  margin: 0;
}

body{
  margin: 0;
  background-color: #fff;
  padding-bottom: 500px;
  padding-top: 55px;
  padding-left: 72px;
}

header{
  display: flex;
  height: 55px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  border-bottom: 1px solid rgba(182, 182, 182, 0.564);
}

.left-section{
  display: flex;
  align-items: center;
}

.hambuger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.logo{
  height: 20px;
}

.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar{
  flex: 1;
  width: 0;
  height: 36px;
  padding-left: 12px;
  font-size: 16px;
  border: 1px solid rgba(182, 182, 182, 0.564);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
}

.search-bar::placeholder{
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

.search-button{
  width: 66px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgba(182, 182, 182, 0.564);
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.search-button:hover{
  background-color: rgba(0, 0, 0, 0.116);
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notification-icon-container .tooltip{
  position: absolute;
  background-color: #606060a3;
  color: #fff;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  bottom: -35px;
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;  
}

.voice-search-button{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea22;
  position: relative;
  cursor: pointer;
}

.voice-search-icon{
  height: 24px;
}

.right-section{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon-container,
.apps-icon-container,
.notification-icon-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.upload-icon{
  height: 24px;
}

.apps-icon{
  height: 24px;
}

.notification-count{
  position: absolute;
  top: -5px;
  right: -5px;
  color: #fff;
  background-color: rgb(238, 40, 40);
  /* font-family: Roboto, Arial, sans-serif; */
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
}

.notification-icon{
  height: 24px;
}

.my-channel-icon{
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.sidebar-link{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 76px;
  font-size: 10px;
  justify-content: center;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: #eaeaea80;
}

.sidebar-link img{
  padding-bottom: 5px;
  height: 25px;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  background-color: #f9f9f9;
  padding: 20px;
}

@media (max-width: 750px){
  main{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px){
  main{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.thumbnail-box{
  position: relative;
}


.thumbnail-box img{
  width: 100%;
}

.video-time{
  position: absolute;
  font-size: 12px;
  padding: 2px 4px;
  bottom: 10px;
  right: 10px;
  background-color: #000;
  color: #fff;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;

}

.channel-profile-pic img{
  width: 36px;
  border-radius: 36px;
  margin-top: 12px;
}

.video-title{
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  line-height: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.video-title a{
  text-decoration: none;
  color:#000
}


.channel-name{
  font-size: 12px;
  color: #606060;
  padding-bottom: 5px;
}

.video-stats{
  font-size: 12px;
  color: #606060;
}