@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
  font-family: Roboto, Arial, sans-serif;
}

p{
  margin: 0;
}

body{
  background-color: #fff;
  padding-bottom: 500px;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  background-color: #f9f9f9;
  padding: 20px;
}

.video-box{

}

.thumbnail-box{
  position: relative;
}


.thumbnail-box img{
  width: 100%;
}

.video-time{
  position: absolute;
  font-size: 12px;
  padding: 2px 4px;
  bottom: 10px;
  right: 10px;
  background-color: #000;
  color: #fff;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;

}

.channel-profile-pic img{
  width: 36px;
  border-radius: 36px;
  margin-top: 12px;
}

.video-title{
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  line-height: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-name{
  font-size: 12px;
  color: #606060;
  padding-bottom: 5px;
}

.video-stats{
  font-size: 12px;
  color: #606060;
}